.form-container {
  width: 380px;
  margin: auto;
  margin-top: 50px;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form-group {
  position: relative;
  height: 40px;
}

.input-field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: none;
}

.input-field:focus {
  box-shadow: none;
  border: 1px solid #ff5400;
}

.form-group .form-label {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #9a9a9a;
  background-color: #fff;
  padding: 0px 5px 0px 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.input-field:focus + .form-label,
.input-field:not(:placeholder-shown).input-field:not(:focus) + .form-label {
  color: #ff5400;
  font-size: 15px;
  top: -10px;
  left: 6px;
  z-index: 10;
}

.login-items-logo button {
  border: none;
  background: none;
}

.login-items-logo img {
  height: 60px;
}

/* for responsive */
@media only screen and (max-width: 688px) {
  .form-container {
    width: 300px;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  #banner h1 {
    font-size: 60px;
    margin: 15px 0;
  }
}
