.dtls-area {
  box-shadow: 0px -1px 13px 0px #aad0da inset;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dtls-area h2 {
  color: #08a9e6;
}

.Course-dtls h1 {
  color: #08a9e6;
  text-align: center;
  margin: 100px 0;
}

.details-content p {
  font-size: 18px;
  color: #6a6a6a;
  text-align: justify;
}

.details-content img {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.details-content button {
  font-size: 17px;
  letter-spacing: 0;
}
.details-content button:hover {
  background: transparent;
  color: #08a9e6;
  border: 2px solid #08a9e6;
  letter-spacing: 0;
}
